.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(140, 194, 220, 0.834);
  height: 100vh;
}
.autocomplete {
  width: 300px;
  position: relative;
  font-family: Arial, sans-serif;
}

.autocomplete input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.autocomplete-list {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-item.highlighted {
  background-color: #f0f0f0;
}

.autocomplete-item:hover {
  background-color: #e0e0e0;
}

